DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost

APP_NAME=SaldoFlow
APP_TAGLINE=Dom i firma pod pełną kontrolą.
APP_MARKETING_LINE=Jedno miejsce do zarządzania budżetem domowym, finansami firmy i automatycznym importem dokumentów.

DB_ENGINE=oracle
ORACLE_HOST=127.0.0.1
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=FREEPDB1
ORACLE_USER=SALDOFLOW
ORACLE_PASSWORD=change-me
# ORACLE_DSN=127.0.0.1:1521/FREEPDB1

# opcjonalnie dla lokalnego developmentu / testów
# DB_ENGINE=sqlite
# SQLITE_NAME=db.sqlite3

EMAIL_BACKEND=django.core.mail.backends.filebased.EmailBackend
EMAIL_FILE_PATH=runtime/emails
DEFAULT_FROM_EMAIL=SaldoFlow <no-reply@saldoflow.local>
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True

CEIDG_AUTH_TOKEN=
CEIDG_SOAP_URL=https://datastore.ceidg.gov.pl/CEIDG.DataStore/Services/NewDataStoreProvider.svc

DEMON_STATUS_DIR=runtime/daemon_status
DEMON_DOM_SERVICE=saldoflow-dom.service
DEMON_FIRMA_SERVICE=saldoflow-firma.service
