<div class="firma-global-nav">
    <a href="{% url 'firma_dashboard' %}" class="btn btn-topbar page-transition-link">Dashboard</a>
    <a href="{% url 'faktury_kosztowe' %}" class="btn btn-topbar page-transition-link">Koszty</a>
    <a href="{% url 'faktury_sprzedazy' %}" class="btn btn-topbar page-transition-link">Sprzedaż</a>
    <a href="{% url 'kontrahenci' %}" class="btn btn-topbar page-transition-link">Kontrahenci</a>
    <a href="{% url 'import_kosztow_excel' %}" class="btn btn-topbar page-transition-link">Import Excel</a>
    <a href="{% url 'importy_demona' %}" class="btn btn-topbar page-transition-link">Importy demona</a>
    <a href="{% url 'deklaracja_jpk' %}" class="btn btn-topbar page-transition-link">JPK</a>
    <a href="{% url 'ustawienia_firmy' %}" class="btn btn-topbar page-transition-link">Ustawienia firmy</a>
</div>